<div class="container m-0 p-0 header">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-0 m-0 border-bottom">

        <!-- Nav-Bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Botão-NavBar-Mobile -->
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
                aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

            <!-- Menu-NavBar -->
            <!-- <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08"> -->
                <!-- Conteudo-NavBar -->
                <!-- <ul class="navbar-nav mx-auto d-flex align-items-center gap-3">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Centered nav only <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul> -->

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu -->
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">

                    <!-- Links -->
                    <ul class="navbar-nav mx-auto d-flex align-items-center gap-3">
                        <li class="nav-item">
                            <a routerLink="/home" class="nav-link d-flex align-items-center gap-1 text-custom-blue">
                                <i class="bi bi-house-door text-custom-blue"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/lancamento"
                                class="nav-link d-flex align-items-center gap-1 text-custom-blue">
                                <i class="bi bi-star-fill text-custom-blue"></i> Lançamento
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/dashboard"
                                class="nav-link d-flex align-items-center gap-1 text-custom-blue">
                                <i class="bi bi-speedometer2 text-custom-blue"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/contato" class="nav-link d-flex align-items-center gap-1 text-custom-blue">
                                <i class="bi bi-envelope-fill text-custom-blue"></i> Contato
                            </a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
</div>